name: Deploy ML API to EC2

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup SSH
      run: |
        mkdir -p ~/.ssh
        echo "${{ secrets.EC2_SSH_KEY }}" > ~/.ssh/ec2.pem
        chmod 600 ~/.ssh/ec2.pem
        ssh-keyscan -H ${{ secrets.EC2_HOST }} >> ~/.ssh/known_hosts

    - name: Deploy to EC2
      run: |
        ssh -i ~/.ssh/ec2.pem ${{ secrets.EC2_USER }}@${{ secrets.EC2_HOST }} << 'EOF'
          sudo yum install git -y
          cd simple-mlops || exit 1

          git pull origin main

          docker ps -aq | xargs -r docker stop
          docker ps -aq | xargs -r docker rm

          docker build -t simple-mlops-api .
          docker run -d -p 8000:8000 --name mlops-api simple-mlops-api
        EOF
